#jumbotron-img {
    background-image: url("images/epstein-portrait.jpg");
    height: 365px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-item{
    height:650px;
}