#jumbotron-img {
    background-image: url("images/nigerian-cloned-president-comparison.jpg");
    height: 365px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#clone-title{
    text-shadow: 6px 6px #000000;
}