#jumbotron-img {
    background-image: url("images/comet-pizza-landscape.jpg");
    opacity: 80%;
    height: 220px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pizzagate-title{
    text-shadow: 6px 6px #000000;
}
.caption{
    padding: 3px;
    border-radius: 4px;
}
.carousel-item{
    height:650px;
}