.fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffffff;
}

.fa:hover {
    text-decoration: none;
    color: #c0c0c0;
}